# API Gateway
PORT=3000
ORIGEN_PERMITIDO=http://localhost:5173

# URLs de los microservicios (en Docker se resuelven por nombre de servicio)
MS_AUTENTICACION_URL=http://localhost:3001
MS_INICIATIVAS_URL=http://localhost:3002
MS_RADICACION_URL=http://localhost:3003
MS_FLUJO_URL=http://localhost:3004
MS_NOTIFICACIONES_URL=http://localhost:3005
MS_ADMINISTRACION_URL=http://localhost:3006
